body {
  background-color: salmon;
}

header {
  text-align: center;
  font-size: 100%;
  font-size: 1vw;
  color: maroon;
}
img {
   position: relative;
   width: 50%;
   opacity: 0.5;
}

#indexTitle {
  margin: 0px;
  margin-top: -8%;
  margin-left: 40%;
  position: absolute;
}

#indexSubTitle {
  margin: 0px;
  margin-top: -6%;
  margin-left: 42%;
  position: absolute;
}
#location {
  margin-left: 45%;
  font-size: 100%;
  font-size: 1.2vw;
  color: blue;
}
#h2location {
  margin-left: 5%;
}
#history {
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
  color: darkgreen;
}
.total {
  font-weight: bold;
}
.extraTossers {
  background-color: yellow;
}

.salesHeader {
  text-align: center;
  font-family: 'Gloria Hallelujah';
}

table {
  background-color: #EAAEFF;
  border: 5px solid black;
  text-align: center;
  font-family: Sarala;
  margin: auto;
}

td {
  padding: .2em;
  border-radius: 15px;
  border: 1px solid black;
  background-color: burlywood;
}

th {
  padding: .2em;
  background-color: navy;
  color: white;
}